<form class="flexcol" id="aseSettingsForm" autocomplete="off" novalidate>
    <section class="content">
        <div class="tab">
            <div class="ase-enable-checkbox">
                <div class="form-group">
                    <label>Convert to Advanced Spell Effect</label>
                    <input type="checkbox" name="flags.advancedspelleffects.enableASE" {{checked
                        flags.advancedspelleffects.enableASE}}>
                </div>
                {{#if flags.advancedspelleffects.enableASE}}
                <div class="form-group">
                    {{itemName}}
                </div>
                {{#ifCondASE itemName '==' 'Detect Magic'}}
                <div class="ase-detectMagic-settings">
                    <div class="form-group">
                        <label>Select Wave Color:
                            <select name="flags.advancedspelleffects.effectOptions.waveColor">
                                {{#select flags.advancedspelleffects.effectOptions.waveColor}}
                                {{#each effectData.dmWaveColors as |name key|}}
                                <option value="{{key}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </label>
                        <label>Select Aura Color:
                            <select name="flags.advancedspelleffects.effectOptions.auraColor">
                                {{#select flags.advancedspelleffects.effectOptions.auraColor}}
                                {{#each effectData.dmAuraColors as |name key|}}
                                <option value="{{key}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </label>
                    </div>
                </div>
                {{/ifCondASE}}
                {{#ifCondASE itemName '==' 'Fog Cloud'}}
                <div class="ase-fogCloud-settings">
                    <div class="form-group">
                        <label>Number of Walls: </label>
                        <input type="number" name="flags.advancedspelleffects.effectOptions.wallNumber"
                            value="{{flags.advancedspelleffects.effectOptions.wallNumber}}">
                    </div>
                </div>
                {{/ifCondASE}}
                {{#ifCondASE itemName '==' 'Steel Wind Strike'}}
                <div class=" ase-steelWindStrike-settings">
                    <div class="form-group">
                        <label>Select Weapon:
                            <select name="flags.advancedspelleffects.effectOptions.weapon">
                                {{#select flags.advancedspelleffects.effectOptions.weapon}}
                                {{#each effectData.swsWeapons as |name key|}}
                                <option value="{{key}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </label>
                        <label>Select Weapon Color:
                            <select name="flags.advancedspelleffects.effectOptions.weaponColor">
                                {{#select flags.advancedspelleffects.effectOptions.weaponColor}}
                                {{#each effectData.weaponColors as |name key|}}
                                <option value="{{key}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </label>
                    </div>
                </div>
                {{/ifCondASE}}
                {{#ifCondASE itemName '==' 'Call Lightning'}}
                <div class="ase-callLightning-settings">
                    <div class="form-group">
                        <label>Select Bolt Style:
                            <select name="flags.advancedspelleffects.effectOptions.boltStyle">
                                {{#select flags.advancedspelleffects.effectOptions.boltStyle}}
                                <option value="chain">Chain</option>
                                <option value="strike">Strike</option>
                                {{/select}}
                            </select>
                        </label>
                    </div>
                </div>
                {{/ifCondASE}}
                {{#ifCondASE itemName 'includes' 'Summon'}}
                <input type="hidden" id="hdnItemId" value="{{effectData.itemId}}" />
                <input type="hidden" id="hdnSummonerId" value="{{effectData.summonerId}}" />
                <div class="form-group">
                    <label>Use Tasha's Scaling</label>
                    <input type="checkbox" name="flags.advancedspelleffects.effectOptions.isTashas" {{checked
                        flags.advancedspelleffects.effectOptions.isTashas}}>
                </div>
                <table id="summonsTable" width="100%">
                    <tbody>
                        {{#each effectData.summons}}
                        <tr>
                            <td>
                                <label><b>Summon Type Name:</b></label>
                            </td>
                            <td>
                                <input type="text"
                                    name="flags.advancedspelleffects.effectOptions.summons.{{@index}}.name"
                                    value="{{this.name}}">
                            </td>
                            <td>
                                <label><b>Associated Actor:</b></label>
                            </td>
                            <td> <select name="flags.advancedspelleffects.effectOptions.summons.{{@index}}.actor">
                                    {{#select this.actor}}
                                    {{#each ../effectData.summonOptions as |id name|}}
                                    <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                            <td>
                                <label><b>Summon Quantity:</b></label>
                            </td>
                            <td>
                                <input style='width: 3em;' type="text"
                                    name="flags.advancedspelleffects.effectOptions.summons.{{@index}}.qty"
                                    value="{{this.qty}}">
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div style="text-align:center;">
                    <div style="margin:auto;">
                        <button class='addType' type="button" style="width:50%;text-align:center;"> Add Type </button>
                    </div>
                    <div style="margin:auto;">
                        <button class='removeType' type="button" style="width:50%;text-align:center;">
                            <i class="fas fa-times"></i> Remove Type
                        </button>
                    </div>
                </div>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <label><b>Magic School: </b></label>
                            </td>
                            <td>
                                <select name="flags.advancedspelleffects.effectOptions.magicSchool">
                                    {{#select flags.advancedspelleffects.effectOptions.magicSchool}}
                                    {{#each effectData.magicSchoolOptions as |name key|}}
                                    <option value="{{key}}">{{name}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                            <td>
                                <label><b>Magic School Color: </b></label>
                            </td>
                            <td>
                                <select name="flags.advancedspelleffects.effectOptions.magicSchoolColor">
                                    {{#select flags.advancedspelleffects.effectOptions.magicSchoolColor}}
                                    {{#each effectData.magicSchoolColorOptions as |name key|}}
                                    <option value="{{key}}">{{name}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label><b>Effect 1 Color: </b></label>
                            </td>
                            <td>
                                <select name="flags.advancedspelleffects.effectOptions.effectAColor">
                                    {{#select flags.advancedspelleffects.effectOptions.effectAColor}}
                                    {{#each effectData.effectAColorOptions as |name key|}}
                                    <option value="{{key}}">{{name}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label><b>Portal Color: </b></label>
                            </td>
                            <td>
                                <select name="flags.advancedspelleffects.effectOptions.portalColor">
                                    {{#select flags.advancedspelleffects.effectOptions.portalColor}}
                                    {{#each effectData.portalColorOptions as |name key|}}
                                    <option value="{{key}}">{{name}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                            <td>
                                <label><b>Portal Impact Color: </b></label>
                            </td>
                            <td>
                                <select name="flags.advancedspelleffects.effectOptions.portalImpactColor">
                                    {{#select flags.advancedspelleffects.effectOptions.portalImpactColor}}
                                    {{#each effectData.portalImpactColorOptions as |name key|}}
                                    <option value="{{key}}">{{name}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {{/ifCondASE}}
                {{#ifCondASE itemName '==' 'Animate Dead'}}
                <section class="flexcol">
                    <div class="flexrow">
                        <div class="ase-column">
                            <label><b>Associated Zombie Actor:</b></label>
                            <select name="flags.advancedspelleffects.effectOptions.summons.zombie.actor">
                                {{#select flags.advancedspelleffects.effectOptions.summons.zombie.actor}}
                                {{#each effectData.summonOptions as |key name|}}
                                <option value="{{key}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    <div class="flexrow">
                        <div class="ase-column">
                            <label><b>Associated Skeleton Actor:</b></label>
                            <select name="flags.advancedspelleffects.effectOptions.summons.skeleton.actor">
                                {{#select flags.advancedspelleffects.effectOptions.summons.skeleton.actor}}
                                {{#each effectData.summonOptions as |key name|}}
                                <option value="{{key}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                </section>
                <section class="flexcol">
                    <div class="flexrow">
                    </div>
                    <div class="flexrow">
                        <div class="ase-column">
                            <label><b>Magic School: </b></label>
                            <select name="flags.advancedspelleffects.effectOptions.magicSchool">
                                {{#select flags.advancedspelleffects.effectOptions.magicSchool}}
                                {{#each effectData.magicSchoolOptions as |name key|}}
                                <option value="{{key}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="ase-column">
                            <label><b>Magic School Color: </b></label>
                            <select name="flags.advancedspelleffects.effectOptions.magicSchoolColor">
                                {{#select flags.advancedspelleffects.effectOptions.magicSchoolColor}}
                                {{#each effectData.magicSchoolColorOptions as |name key|}}
                                <option value="{{key}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                </section>
                <section class="flexcol">
                    <div class="flexrow">
                    </div>
                    <div class="flexrow">
                        <div class="ase-column">
                            <label><b>Effect 1 Color: </b></label>
                            <select name="flags.advancedspelleffects.effectOptions.effectAColor">
                                {{#select flags.advancedspelleffects.effectOptions.effectAColor}}
                                {{#each effectData.effectAColorOptions as |name key|}}
                                <option value="{{key}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="ase-column">
                            <label><b>Effect 2 Color: </b></label>
                            <select name="flags.advancedspelleffects.effectOptions.effectBColor">
                                {{#select flags.advancedspelleffects.effectOptions.effectBColor}}
                                {{#each effectData.effectBColorOptions as |name key|}}
                                <option value="{{key}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                </section>
                {{/ifCondASE}}
                {{/if}}
            </div>
        </div>
    </section>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-save"></i> Save and Close
        </button>
    </footer>
</form>