<form id="magicMissileForm" class="flexcol" autocomplete="off" novalidate>
    <section class="content">
        <p>You can assign <b><input style='width: 2em;' type="number" class="txtNumMissiles" id="txtNumMissilesId" readonly value="{{data.numMissiles}}"></input></b> more missiles.</p>
        <table id="targetsTable" width="100%">
            <tbody>
                <tr>
                    <th>Target</th>
                    <th>Missiles</th>
                </tr>
            </tbody>
        </table>
    </section>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check-square"></i> Done
        </button>
    </footer>
</form>