<form id="animateDeadForm" class="flexcol" autocomplete="off" novalidate>

    <section class="content">
        {{#if data.noCorpses}}
            <p style="text-align: center; margin: 2rem;">{{localize "ASE.AnimateDeadDialogNoCorpses"}}</p>
        {{else}}
            <p>{{localize "ASE.AnimateDeadDialogRaiseMessage"}}</p>
            <p><input type="number" id="raiseLimit" style='width: 2em;' readonly value="{{data.raiseLimit}}" /></p>
            <table width="100%">
                <tbody>
                    <tr>
                        <th>{{localize "ASE.AnimateDeadDialogHeaderCorpse"}}</th>
                        <th>{{localize "ASE.AnimateDeadDialogHeaderRaise"}}</th>
                    </tr>
                    {{#each data.corpses as |corpse|}}
                        <tr class='corpseToken' id={{corpse.id}}>
                            <td><img src="{{corpse.document.texture.src}}" width="30" height="30" style="border:0px"> -
                                {{corpse.name}}
                            </td>
                            <td><button class='raiseCorpse' type="button"
                                    id="{{corpse.id}}">{{localize "ASE.ZombieLabel"}}
                            </td>
                            <td><button class='raiseCorpse' type="button"
                                    id="{{corpse.id}}">{{localize "ASE.SkeletonLabel"}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

        {{/if}}

        <input type="hidden" id="hdnEffectAColor" value="{{data.effectSettings.effectAColor}}" />
        <input type="hidden" id="hdnEffectBColor" value="{{data.effectSettings.effectBColor}}" />
        <input type="hidden" id="hdnMagicSchool" value="{{data.effectSettings.magicSchool}}" />

        <input type="hidden" id="hdnEffectASound" value="{{data.effectSettings.effectASound}}" />
        <input type="hidden" id="hdnEffectBSound" value="{{data.effectSettings.effectBSound}}" />
        <input type="hidden" id="hdnMagicSchoolSound" value="{{data.effectSettings.magicSchoolSound}}" />

        <input type="hidden" id="hdnEffectASoundDelay" value="{{data.effectSettings.effectASoundDelay}}" />
        <input type="hidden" id="hdnEffectBSoundDelay" value="{{data.effectSettings.effectBSoundDelay}}" />
        <input type="hidden" id="hdnMagicSchoolSoundDelay" value="{{data.effectSettings.magicSchoolSoundDelay}}" />

        <input type="hidden" id="hdnEffectASoundVolume" value="{{data.effectSettings.effectASoundVolume}}" />
        <input type="hidden" id="hdnEffectBSoundVolume" value="{{data.effectSettings.effectBSoundVolume}}" />
        <input type="hidden" id="hdnMagicSchoolVolume" value="{{data.effectSettings.magicSchoolVolume}}" />

        <input type="hidden" id="hdnMagicSchoolSoundOutro" value="{{data.effectSettings.magicSchoolSoundOutro}}" />
        <input type="hidden" id="hdnMagicSchoolSoundDelayOutro"
            value="{{data.effectSettings.magicSchoolSoundDelayOutro}}" />
        <input type="hidden" id="hdnMagicSchoolVolumeOutro" value="{{data.effectSettings.magicSchoolVolumeOutro}}" />

        <input type="hidden" id="hdnMagicSchoolColor" value="{{data.effectSettings.magicSchoolColor}}" />
        <input type="hidden" id="hdnZombieActorId" value="{{data.effectSettings.summons.zombie.actor}}" />
        <input type="hidden" id="hdnSkeletonActorId" value="{{data.effectSettings.summons.skeleton.actor}}" />

    </section>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check-square"></i> {{localize "ASE.Done"}}
        </button>
    </footer>
</form>
