.ase-column {
  padding: 10px;
  text-align: center;
}

/* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ */

#ase-item-settings .window-content {
  padding: 5px;
  position: relative;
}

#ase-item-settings .window-content #ase-settings-body {
  margin: 0px;
}

#ase-item-settings .window-content .ase-settings-tabs {
  width: 400px;
  height: 40px;
}

#ase-item-settings .window-content .ase-settings-tabs button {
  padding-top: 5px;
  margin: 0px;
  border-radius: 0px;
  transition: all 0.35s ease;
  font-size: 16px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#ase-item-settings .window-content .ase-settings-tabs .tab-mini-text {
  font-family: "Trebuchet MS", "Helvetica Neue", "Arial";
  font-size: 16px;
  line-height: 0.5;
}
#ase-item-settings .window-content .ase-settings-tabs .fas {
  font-size: 25px;
}
#ase-item-settings .window-content .ase-settings-tabs button:hover {
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 0px #000000;
}

#ase-item-settings .window-content .ase-settings-tabs .nav-tab {
  border-radius: 0px;
  border: 0px;
  display: block;
  float: left;
  height: 100%;
  width: 25%;
}

#ase-item-settings .window-content .ase-settings-tabs .nav-tab.selected {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
#ase-item-settings .window-content #ase-settings-body .hide {
  display: none;
}

/* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ */
